#footer * {
    border-radius: 0%;
    border: none;
}

#footer {
    position: sticky;
    bottom: 0%;
    border: none;
    top: auto;
}


#navbar {
    top: 0%;
    position: sticky;
    z-index: 1;
}

/* #content {
    height: 1920px;
} */

#writepost {
    min-height: 100vh;
}

#writepost form {
    margin-top: 5rem;
    padding: 3rem;   
}

#MyPosts {
    min-height: 100vh;
}